@page "/agecounter"
@using FrontendMentor.Core.agecounter.Application;

<div class="agecounter-container">
	<EditForm class="agecounter-form" Model="_ageCounterHandle">
		<div class="agecounter-form-section">
			<label>Day</label>
			<InputText @bind-Value="_ageCounterHandle.DateInfo.Day"
			placeholder="DD" />
			<p>@_ageCounterHandle.DateError.ErrorDay</p>
		</div>

		<div class="agecounter-form-section">
			<label>Month</label>
			<InputText @bind-Value="_ageCounterHandle.DateInfo.Month"
			placeholder="MM" />
			<p>@_ageCounterHandle.DateError.ErrorMonth</p>
		</div>

		<div class="agecounter-form-section">
			<label>Year</label>
			<InputText @bind-Value="_ageCounterHandle.DateInfo.Year"
			placeholder="YYYY" />
			<p>@_ageCounterHandle.DateError.ErrorYear</p>
		</div>

		<button @onclick="_ageCounterHandle.HandleResult" @onclick:preventDefault="true"
		type="submit"
		@onclick:stopPropagation="true">
			<img src=".\challengesResources\agecounter\icon-arrow.svg" alt="" />
		</button>
	</EditForm>

	<div>
		<p><span>@_ageCounterHandle.DateInfo.YearResult</span> years</p>
		<p><span>@_ageCounterHandle.DateInfo.MonthResult</span> months</p>
		<p><span>@_ageCounterHandle.DateInfo.DayResult</span> days</p>
	</div>
</div>

@code {

	public required AgeCounterHandle _ageCounterHandle;

	protected override void OnInitialized()
	{
		_ageCounterHandle = new AgeCounterHandle();
	}
}
